/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
   
    margin: 0;
    text-align: center;
    align-items: center;
}

img {
    width: 200px;
    height: 100px
}
#Visit {
    
    display: flex;
    flex-direction: column;
    color: white;
    text-shadow: -1px 1px 2px; black;
    
    align-items: center;
    height: 343px;
    width: auto;
    background-image: url("https://cdn.theatlantic.com/assets/media/img/mt/2015/04/AshevilleScene/lead_960.jpg?1430308869");
    background-size: cover;
}
#Asheville {
    margin-top: 80px;
    background: #1D3557;
    opacity: 0.5;
    padding: 10px 20px;
    border-radius: 15px;
    
}

#Enjoy {
    background: #457B9D;
    opacity: 0.8;
    padding: 10px 20px;
    border-radius: 15px;
}
#avatar {
    width: 350px;
    height: 200px;
}